**/*.pyc
**/*.pt
**/*.npz
*.whl
build/*
dist/*
*.egg*/*
test/stylegan2-pytorch*
docs/test_fake/*
docs/test_real/*
docs/temp.py
test/TTUR*
scripts/*
.DS_Store
../.DS_Store
cleanfid/__*
test/*
*.npy

EXP/**/*
*.pdf
flake8_log.txt
figures/*

setup.cfg
examples/*

tests/*
scripts/*