**/*.pyc
**/*.pt
**/*.npz
*.whl
build/*
dist/*
*.egg*/*
test/stylegan2-pytorch*
docs/test_fake/*
docs/test_real/*
docs/temp.py
test/TTUR*
.DS_Store
../.DS_Store
cleanfid/__*
test/*
*.npy

EXP/**/*
*.pdf
flake8_log.txt
figures/*

setup.cfg
examples/*
notebooks/*

tests/*
scripts/tmp/*
scripts/dataset_stats/*
scripts/leaderboard/*
scripts/pip_versions/*
scripts/tf_flags/*
scripts/upsampling_experiments/*
scripts/figures/*
*.json
docs/tests.md
models/*
stats*
scripts/leaderboard/CONFIGS/__pycache__/*
all_stats.tar.gz
scripts/_rebuttal
scripts/*
temp.py
notebooks/*
figures/*

docs/build.md
temp/**/*.*

# PyCharm
**/.idea/**/*